.form-container{
    margin: 4rem 6rem;
    color: black;
    text-align: center;
}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid black;
}
.form-container textarea{
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid black;
}

.form-container button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.form-container button:hover{
    background-color: #151516;
    color: #fff;
}

@media screen and (max-width:850px) {
    .form-container{
        margin: 4rem 2rem;
    }
    .form-container form{
        padding-top: 2rem;
        width: 90%;
    }
}