.navigation-bar{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
}
.navigation-bar img{
    width: 100px;
    height : 100px;
    margin-left:20px ;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    grid-gap: 20px;
    cursor: pointer;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
}
.nav-menu li{
    padding: 10px;
}
.nav-menu li:hover{
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.sign-up{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.sign-up:hover{
    background-color: #151516;
    color: #fff;
}
.menu-icons{
    display: none;
}
.menu-icons i:hover{
    cursor: pointer;
}
.link-tag{
    color: black;
    text-decoration: none;
}
@media screen and (max-width:850px){
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top:0;
        left: 0;
        align-items: stretch;
        text-align: center;
        padding: 80px 0 30px 0;
        z-index: -1;
        transition: 0.3s ease-in-out;

    }
    .nav-menu.close{
        display: none;
        transition: 0.3s ease-in-out;
    }
    .nav-menu li{
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }
    .nav-menu li:hover{
       transition: none;
    }
    .sign-up{
        background-color: #01959a;
        width: 80%;
        margin: auto;
    }
    .menu-icons{
        display: block;
        font-size: 1.2rem;
    }
}