.footer{
    padding: 2rem 4rem;
    background-color: black;
    color: white;
    align-items: center;
}

.top{
   display: flex; 
   align-items: center;
   text-align: start;
   justify-content: space-between;
   flex-wrap: wrap;
}
.top img{
    width: 150px;
    height: 150px;
}

.top i{
    font-size: 2rem;
    margin-left: 1rem;
    color: #ffff;
    cursor: pointer;
}
.top i:hover{
    color: #01959a;
}

.bottom{
    padding-top:2rem ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.bottom div{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.bottom h4{
    font-size: 1.2rem;
    padding-bottom:5px;
}

@media screen and (max-width:850px) {
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}