.destination{
    margin: 4rem 3rem;
    text-align: center;
}

.destination h1{
    font-size: 3rem;
}
.destination h1{
    font-size: 3rem;
}
.first-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.first-description-reverse{ /*Targeting second destination description*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.destination-images{
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.destination-images img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius:6px ;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}
.destination-images img:nth-child(2){ /*Targeting only second image*/
    position: absolute;
    top:-10%;
    right: 0;
}
.description-text{
    text-align: start;
    width: 40%;
    padding: 0px 20px;
    font-size: 1.1rem; ;
}

@media screen and (max-width:850px){
    .destination{
        margin: 4rem 1rem;
    }
    .first-description{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .first-description-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .description-text{
        width: 100%;
    }
    .destination-images{
        width: 100%;
        margin: 1.8rem 0;
    }
    .destination-images img{
        height: 250px;
    }
}